@font-face {
  font-family: 'JetBrainsMono-Regular';
  src: url('../../public/assets/JetBrainsMono-Regular.ttf');
  font-display: swap;
}
* {
  font-family: 'JetBrainsMono-Regular', monospace;
}
body {
  margin: 0;
  padding: 0;
  background: #FBF1C9;
}
.bg {
  margin: 20px;
  min-height: 94vh;
  height: 94%;
  border: 2px solid #000;
}
